PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/romadec
PAYSTACK_SECRET_KEY=sk_test_mock_paystack_secret_key
VITE_PAYSTACK_PUBLIC_KEY=pk_test_mock_paystack_public_key
ADMIN_SECRET_KEY=romadec_admin_2026
ADMIN_EMAIL=admin@romadec.com
ADMIN_PASSWORD=admin123
